

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body > .container {
    min-width: 1140px;
}

#visualization {
    perspective: 800px;
    perspective-origin: 50% 100px;
}

.visWrapper {
    position: relative;
    width: 877px;
    height: 476px;
    /*height: 0;*/
    /*padding-bottom: 56.25%;*/
    transform-style: preserve-3d;
    background: #efefef;
}

.visWrap .donutWrap {
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transform-origin: top left;
}

.donutWrap .donut {
    width: 240px;
    height: 240px;
    text-indent: -9999px;
    background: url("../img/donut_placeholder.png") no-repeat rgba(192,192,192,0.5);
    background-size: 100% 100%;
    -webkit-transform: rotateY(-60deg);
    -webkit-transform-origin: top left;
}

.visWrap .donutWrap + .donutWrap {
    opacity: 0.15;
    -webkit-transform: translateX(120px);
}

.visWrap .donutWrap + .donutWrap + .donutWrap {
    opacity: 0.15;
    -webkit-transform: translateX(240px);
}

#filters h4 {
    text-align: center;
}

#filters .btn-group, #filters .btn-group-vertical {
    width: 100%;
}

#filters .btn-group.controls-gender .btn {
    width: 33.333333333333333333333%;
}

.btn-group-vertical .btn {
    text-align: left;
}

.btn-group-vertical.controls-activity .btn.btn-xs {
    padding-top: 5px;
    padding-bottom: 5px;
}

.btn[style].active {
    /*background-color: #ffffff;*/
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0.25)), to(rgba(255, 255, 255, 0.50)));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.50));
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.50));
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.50));
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.50));
    background-image: linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(255, 255, 255, 0.50));
    filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,StartColorStr='#ffffff', EndColorStr='#ffffff');
}
